
.vscode/settings.json
tavernadovale/target/classes/application.properties
tavernadovale/src/main/resources/application.properties
tavernadovale/src/main/resources/application.properties
tavernadovale/src/main/resources/application.properties
