* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --cinza: #DDDDDD;
    --verdemusgo: #5E865C;
    --cinzaescuro: #545454;
    --marrom: #846642;
    --dourado: #F0CA66;
    --branco: #ffffff;
    --preto: #000;
    --cincaclaro: #D1D1D1;
}

body {
    background-color: var(--cinza);
    color: #232020;
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: poppinsregular;
    margin-top: 30px;
    align-items: center;
}

.nav-itens {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #232020;
    text-decoration: none;
    transition: 0.5s color;
}

.links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo {
    margin-left: 50px;
    font-weight: 800;
    font-size: 28px;
}

.home {
    display: inline-block;
    padding: 4px 30px;
    font-size: 1.0rem;
    font-family: poppinsregular;
    font-weight: 600;
    background-color: var(--cincaclaro);
    border: none;
    color: var(--verdemusgo);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.5s background;

}

.home:hover {
    background-color: var(--verdemusgo);
    color: var(--cinza);
    transition: 0.3s background;

}

.nav-itens>li>a {
    padding-left: 20px;
    color: #232020;
    text-decoration: none;
    transition: 0.5s color;
}

.nav-itens>li>a:hover {
    color: #aaaaaa;
    transition: 0.3s color;
}

.btn_acesb_fonte {
    margin-left: auto;
    display: flex;
    gap: 10px;
    margin-right: 40px;
}

.azao {
    padding: 5px 5px;
    font-size: 13px;
    background-color: var(--verdemusgo);
    border: none;
    color: var(--cinza);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s background;
}

.azao:hover {
    background-color: var(--marrom);
    transition: 0.3s background;
}

.azinho {
    padding: 5px 5px;
    font-size: 13px;
    background-color: var(--verdemusgo);
    border: none;
    color: var(--cinza);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s background;
}

.azinho:hover {
    background-color: var(--marrom);
    transition: 0.3s background;
}

.main{
    display: flex;
    justify-content: center;
}

.txt_acao{
    display: flex;
    justify-content: center;
    font-family: poppinsmedium;
    font-size: x-large;
    margin-top: 80px;
    margin-bottom: 30px;
}

.acessar{
    margin-left: 8px;
    color: var(--verdemusgo);
}

.card{
    margin: 50px;
    background-color: var(--verdemusgo);
    color: var(--cinza);
    font-family: poppinsmedium;
    font-weight: 500;
    width: 300px;
    height: 350px;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-decoration: none;
    display: block;
    transition: transform 0.2s
}

.card:hover {
    transform: scale(1.05);
}

.card>img{
    width: 70%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #846642;
    height: 65px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px -10px 60px rgba(0, 0, 0, 0.4);
}