* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cinza: #DDDDDD;
    --verdemusgo: #5E865C;
    --cinzaescuro: #8a8a8a;
    --marrom: #846642;
    --dourado: #F0CA66;
    --branco: #ffffff;
    --preto: #000;
}

body {

    background-color: var(--cinza);
    color: #232020;
}

.footer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--verdemusgo);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.logo {
    margin: 0 auto;
    font-family: poppinsmedium;
    font-size: 40px;
    color: var(--cinza);
}

.btn_acesb_fonte {
    margin-right: 80px;
}


.azao, .azinho {
    padding: 5px 5px;
    font-size: 13px;
    background-color: var(--cinza);
    border: none;
    color: var(--verdemusgo);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s background;
}

.azao:hover, .azinho:hover {
    background-color: var(--cinzaescuro);
    color: var(--cinza);
    transition: 0.3s background;
}

.txt_login {
    text-align: center;
    font-family: poppinslight;
    margin-top: 130px;
    font-weight: 8;
}

form {
    margin-top: 25px;
}

form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 1.4375rem;
    font-family: poppinsregular;
}

form input {
    margin-top: 2px;
    height: 62px;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 13px;
    border: none;
    font-size: 1rem;
    font-family: poppinslight;
}

.btn_entrar {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-family: poppinslight;
    color: var(--cinza);
    background-color: var(--verdemusgo);
    cursor: pointer;
    text-decoration: none;
    line-height: 45px;
    transition: 0.5s background;
}

.btn_entrar:hover {
    background-color: var(--marrom);
    transition: 0.3s background;
}

img {
    width: 100%;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
    padding: 0 10%;
}

.container {
    width: 40%;
}

.img {
    width: 40%;
}