@media  (max-width: 1280px){

    .nav-itens{
        margin-inline: 150px;
        margin-top: 10px;
    }
    
    .txt_cadstr{
        font-size: 3rem;
        margin-top: 50px;
    }

    .txt_estq{
        font-size: 3rem;
    }

    .txt_funcn{
        font-size: 3rem;
    }

    .txt_prdts{
        font-size: 3rem;
    }

    .txt_vnds{
        font-size: 3rem;
    }

    .p{
        font-size: 0.300rem;
        margin-top: 25px;
    }
    
    .campos_estq{
        margin-left: 70px;
    }

    .campos_prdts{
        margin-left: 70px;
    }

    .campos_vnds{
        margin-left: 70px;
    }

    .campos_funcn{
        margin-left: 70px;
    }

    .campos_baixo{
        margin-left: 120px;
    }

    .btn_slv_estq{
        margin-left: 990px;
    }

    .btn_slv_prdts{
        margin-left: 990px;
    }

    .btn_slv_vnds{
        margin-left: 990px;
    }

    .btn_slv_funcn{
        margin-left: 990px;
    }

}