/* Integrantes do Grupo:
Anderson Cleyton Ferreira Junior
Daniel Filho Oliveira Lima
Felipe Claudiano Synthes
Pedro Gustavo De Campos Teixeira Silva
Pedro Roceti Pache */
:root {
    --cinza: #DDDDDD;
    --verdemusgo: #5E865C;
    --cinzaescuro: #545454;
    --marrom: #846642; 
    --dourado: #F0CA66;
    --branco: #ffffff;
    --preto: #000;
}

body {
    background-color: #DDDDDD;
    color: #232020;
    font-family: poppinsregular;
    max-width: 1700px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;

}

a{
    color: var(--preto);
}

a :hover{

    color: var(--dourado);
    transition: 0.3s all;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: var(--verdemusgo);
}

p{
    line-height: 20px;
    max-width: 790px;
    font-family: poppinslight;
    font-size: 14px;
    text-align: justify;
}

img{
    scale: 125%;
    width: 400px;
    margin-left: 160px;
    
}

form{
    display: flex;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: var(--verdemusgo);
    color: var(--cinza);
    font-size: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

form input{
    margin-top: 2px;
    height: 20px;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    margin-right: 20px;
}

form button {
    color: var(--cinza);
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: 0.3s;
    margin-top: 20px;
    margin-left: auto;
    font-family: poppinsregular;
    font-size: medium;
}

form button:hover {
    background-color: var(--marrom);
    color: var(--cinza);
}

a.inscreva-se-btn {
    background-color: var(--verdemusgo);
    padding: 8px;
    border: none;
    border-radius: 15px;
    color: var(--cinza);
    transition: 0.3s;
}

a.inscreva-se-btn :hover{
    color: var(--dourado);

}

a.incio-btn{
    background-color: var(--verdemusgo);
    border-radius: 15px;
    color: var(--cinza);
    border: 2px solid var(--verdemusgo);
    padding: 8px;
    text-decoration: none;    
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}

.input-baixo{
    margin-left: 300px;

}

:-ms-input-placeholder{
    color: var(--cinzaescuro);

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #846642;
    height: 65px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px -10px 60px rgba(0, 0, 0, 0.4);}

    .Links{
        text-decoration: none;
    }