* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --cinza: #DDDDDD;
    --verdemusgo: #5E865C;
    --cinzaescuro: #545454;
    --marrom: #846642;
    --dourado: #F0CA66;
    --branco: #ffffff;
    --preto: #000;
}

body {
    background-color: var(--cinza);
    color: 232020;
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: poppinsregular;
    margin-top: 30px;
    align-items: center;
}

.nav-itens {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #232020;
    text-decoration: none;
    transition: 0.5s color;
}

.nav-itens>li:not(.link_vnds)>a:hover {
    color: #aaaaaa;
    transition: 0.3s color;
}

.link_vnds>a {
    color: #aaaaaa !important;
}

.links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo {
    margin-left: 50px;
    font-weight: 800;
    font-size: 28px;
}

.home {
    display: inline-block;
    padding: 4px 30px;
    font-size: 1.0rem;
    font-family: poppinsregular;
    background-color: var(--verdemusgo);
    border: none;
    color: var(--cinza);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.5s background;

}

.home:hover {
    background-color: var(--marrom);
    transition: 0.3s background;

}

.btn_acesb_fonte {
    margin-left: auto;
    display: flex;
    gap: 10px;
    margin-right: 40px;
}

.azao {
    padding: 5px 5px;
    font-size: 13px;
    background-color: var(--verdemusgo);
    border: none;
    color: var(--cinza);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s background;
}

.azao:hover {
    background-color: var(--marrom);
    transition: 0.3s background;
}

.azinho {
    padding: 5px 5px;
    font-size: 13px;
    background-color: var(--verdemusgo);
    border: none;
    color: var(--cinza);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s background;
}

.azinho:hover {
    background-color: var(--marrom);
    transition: 0.3s background;
}

.txt_cadstr {
    margin-top: 80px;
    margin-left: 70px;
    font-size: 3.4375rem;
    font-family: poppinsmedium;
    color: var(--verdemusgo);
}

.txt_vnds {
    margin-left: 70px;
    font-size: 3.4375rem;
    font-family: poppinsmedium;
}

p {
    margin-top: 40px;
    margin-left: 70px;
    line-height: 25px;
    max-width: 790px;
    font-family: poppinslight;
    font-size: 1.125rem;
    text-align: justify;
}

form {
    display: flex;
    margin-top: 80px;
    margin-left: 200px;
}

form label {
    width: 100%;
    min-width: 150px;
    white-space: nowrap;
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 1.4375rem;
    font-family: poppinsregular;
}

form input {
    height: 62px;
    width: 400px;
    padding: 10px;
    border-radius: 16px;
    border: none;
    font-size: 1rem;
    font-family: poppinslight;
}

.btn_slv_vnds {
    align-self: flex-end;
    margin-top: 15px;
    height: 45px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-family: poppinslight;
    color: var(--cinza);
    background-color: var(--verdemusgo);
    cursor: pointer;
    transition: 0.5s background;
}

.btn_slv_vnds:hover {
    background-color: var(--marrom);
    transition: 0.3s background;
}

.campos_baixo {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #846642;
    height: 65px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px -10px 60px rgba(0, 0, 0, 0.4);
}